<div class="page-wrapper">
  <div class="title-wrapper">
    <h2> Order Delivery </h2>
  </div>
  <div class="form-wrapper">
    <form [formGroup]="deliveryForm">
      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label> Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input placeholder="Ex. 052-1111111" type="number" matInput formControlName="phoneNumber">
        </mat-form-field>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St" formControlName="address"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>TODO: City List</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St" formControlName="cityList"></textarea>
        </mat-form-field>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>Drop-off address</mat-label>
          <textarea formControlName="dropOffAddress" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>TODO: City List</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St" formControlName="dropOffCityList"></textarea>
        </mat-form-field>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label> Receiver Name</mat-label>
          <input matInput formControlName="receiverName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Receiver phone number</mat-label>
          <input placeholder="Ex. 052-1111111" type="number" matInput formControlName="receiverPhoneNumber">
        </mat-form-field>
      </div>
    </form>

  </div>
</div>
