:host {
height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 25px;
    background-color: white;
  }

  .form-field-wrapper{
    display: flex;
    gap: 12px;

    mat-form-field {
      min-width: 248px;

    }
  }
  .mat-mdc-text-field-wrapper {
    border-radius: 6px;
  }
}
