:host {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .desktop-set-portrait {
    gap: 10px;
    background-color: red;

  }

  .hand-set-portrait{
    //gap: 10px;
    flex-direction: column;
    background-color: blue;
    max-width: 400px;
    overflow: auto;

  }

  .page-wrapper {
    display: flex;
    height: 100%;



    .order-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 40px 25px;
      background-color: white;
    }

    .hand-set-portrait{
      flex-direction: column;
    }

    .form-field-wrapper-hand-set-portrait {

    }

    .form-field-wrapper-hand-set-portrait {

    }

    .form-field-wrapper {
      display: flex;
      gap: 12px;

      mat-form-field {

      }
    }

    .mat-mdc-text-field-wrapper {
      border-radius: 6px;
      flex-direction: column;
      max-width: 200px;
    }

    .payment-wrapper {
      display: flex;
      flex-direction: column;
      align-items: inherit;
      justify-content: center;
      gap: 7px;
      background-color: white;
      padding: 22px 22px 22px 22px;
      height: 150px;
      width: 200px;


      .payment-title {
        display: flex;
        justify-content: space-between;
      }

      .total-price {
        font-weight: 500;
        font-size: 16px;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
      }
    }

    .right-side-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .google-maps-map-wrapper {
        width: 100%;
        height: 100%;
        min-height: 385px;

        div {
          width: 100%;
          height: 100%;
        }
      }
    }


  }
}
